.block-page {
  width: 100%;
}

.header {
  width: 100%;
  /*! position: relative; */
  left: 100px;
  text-align: center;
  display: inline-block;
  padding: 0px;
}

.logo {
  width: 100%;
  margin: auto;
  height: 60px;
  /*! position: absolute; */ left: 214px;
  bottom: 4px;
}

.onglet {
  width: 100%;
}

.onglet ul {
  padding-left: 0px;
}

.onglet ul li {
  width: 50%;
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0px;
}

.onglet ul li a {
  border-bottom: 3px solid #f2f2f2;
  display: block;
}

.onglet ul li a:hover {
  border-top: 0px solid; 
  border-bottom: 3px solid #0065FC;
}

.titre1 {
  text-align: center;
  width: 76%;
  margin: auto;
  height: 90px;
}

.titre1 h1 {
  line-height: 25px;
}

.barre_de_recherche {
  border-radius: 10px 10px 10px 10px;
  position: relative;
  right: 15px;
  bottom: 0.7px;
  padding: 9px;
}

.desktop_only {
  display: none;
}

.mobile_only {
  opacity: 1;
}

.filtres {
  width: 72%;
  margin: auto;
  height: 200px;
  display: block;
}

.filtres_titre {
  margin-right: 0px;
  line-height: 1px;
}

.filtres_texte_icone {
  margin-right: 0px;
  padding-right: 0px;
  justify-content: flex-start;
}

.filtres_texte {
  padding-left: 5px;
}

.filtre_mobile1 {
  width: 57%;
}

.filtre_mobile2 {
  width: 45%;
  position: relative;
  bottom: 42px;
  left: 175px;
}

.filtre_mobile3 {
  width: 57%;
  position: relative;
  bottom: 35px;
}

.filtre_mobile4 {
  width: 75%;
  position: relative;
  bottom: 28px;
  left: 0px;
}

.info {
  width: 90%;
  position: relative;
  left: 20px;
}

.info_image {
  width: 25px;
}

.info_texte {
  margin-left: 5px;
}

#popularites {
  width: 100%;
  border-radius: 0px;
  left: unset;
}

.marseille {
  position:  relative;
  left: 0px;
  width: 100%;

  background-color: white;
}

.titre_article h3 {
  text-align: left;
}

.titre_article p {
  position: relative;
  top: 965px;
  left: 10px;
}

.propositions_groupe {
  display: block;
}

.proposition {
  width: 90%;
  height: 145px;
}

.proposition_image {
  height: 87px;
}

.proposition_texte {
  line-height: 0px;
}

.titre_aside {
  text-align: left;
  height: 27px;
}

.titre_aside h3 {
  justify-content: space-between;
}

.choix_hotel {
  flex-wrap: wrap;
}

.hotel_image {
  width: 105px;
}

.activites {
  width: 100%;
}

.titre_activites {
  height: 30px;
}

.titre_activites h3 {
  text-align: left;
}

.lieux {
  height: unset;
  display: block;
  padding-left: 0px;
  position: relative;
  left: 0px;
}

.lieu1 {
  width: 92%;
  height: 145px;
  margin-bottom: 20px;
}

.lieu_image {
  height: 100px;
}

.lieu2 {
  width: 92%;
  height: 145px;
  position: relative;
  left: 0px;
  margin-bottom: 20px;
}

.lieu3 {
  width: 92%;
  height: 145px;
  position: relative;
  top: 0px;
  left: 0px;
  margin-bottom: 20px;
}

.lieu3_image {
  height: 100px;
}

.lieu4 {
  width: 92%;
  height: 145px;
  position: relative;
  left: 0px;
  margin-bottom: 20px;
}

.lieu4_image {
  height: 100px;
}

.groupe_lieux {
  display: block;
  height: unset;
}

.lieu5 {
  height: 145px;
  width: 92%;
  position: relative;
  left: 0px;
  top: 0px;
  margin-bottom: 20px;
}

.lieu5_image {
  height: 100px;
}

.lieu6 {
  width: 92%;
  height: 145px;
  position: relative;
  left: 0px;
  bottom: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.lieu6_image {
  height: 100px;
}

.pied_de_page {
  height: 420px;
  width: 100%;
  position: relative;
  top: 0px;
}

#apropos {
  width: 100%;
  display: block;
  margin-left: 32px;
}

.propos1 {
  height: 140px;
}

.propos2 {
  margin-bottom: 50px;
}

#hebergement {
  justify-content: normal;
}