.block-page {
    width: 768px;
}

.logo img {
    width: 20%
}

.titre1 {
    text-align: center;
    font-size: 9px;
}

.titre1 p {
    font-size: 14px;
}

.recherches {
    text-align: center;
}

.filtres {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 62px;
}

.filtre_tablette {
    position: relative;
    left: 15px;
}

.info {
    justify-content: center;
}

#hebergement {
    flex-wrap:  wrap-reverse;
}

.marseille {
    position: relative;
    left: 25px;
}

.titre_article h3 {
    text-align: center;
    position: relative;
    left: 10px;
}

.propositions_groupe {
    padding-bottom: 30px;  
}

#popularites {
    width: 90%;
    position: relative;
    left: 32px;
    margin-bottom: 15px;
}    


.titre_aside{
    text-align: center
}

.choix_hotel {
    flex-wrap: nowrap;
}

.hotel_image {
    width: 70px;
}

.hotel_titre {
    position: relative;
    left: 10px;
}

.titre_activites h3 {
    text-align: center;
}

.lieux {
    flex-wrap: wrap;
    position: relative;
    left: 12px;
    padding-left: 15px;
    margin-bottom: 250px;
}

.lieu5 {
    height: 35%;
    position: relative;
    left: 100px;
    top: 1px;
}

.lieu6 {
    height: 35%;
    position: relative;
    left: 359px;
    bottom: 199px;
}

.pied_de_page {
    height: 200px
}

#apropos {
    justify-content: space-evenly;
}